@model ApplicationCore.Models.MovieDetailsModel



<div class="row">
    <div class="container text-center">
        <div class="row text-white bg-opacity-25" style="background-image: url('@Model.BackdropUrl');">
            <div class="col">
                <img src="@Model.PosterUrl" alt="poster"/>
            </div>

            <div class="col-6" align="left">
                <h1>
                    @Model.Title
                </h1>

                <small class="text-muted">Overview of the movie</small>
                <br>
                <small class="text-muted">Time|Years &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</small>

                <h6>
                    @foreach (var genre in Model.Genres)
                        {
                            <span class="badge rounded-pill bg-secondary">@genre.Name</span>
                        }
                 </h6>

                <h5><span class="badge bg-success" align="left">MovieRating</span></h5>

                <p>
                    @Model.Overview
                </p>
            </div>

            <div class="col" align="right">
                <br>
                <div class="row">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal">
                        📓 REVIEW LALA
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form>
                              <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Recipient:</label>
                                <input type="text" class="form-control" id="recipient-name">
                              </div>
                              <div class="form-group">
                                <label for="message-text" class="col-form-label">Message:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Send message</button>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
                <br>

                <div class="row">
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#purchaseModal">
                        BUY $@Model.Price
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="purchaseModal" tabindex="-1" aria-labelledby="purchaseModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ConfirmationModalLabel">CONFIRMATION</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h4>Please confirm your purchase</h4>
                                    <h6>@Model.Title</h6>
                                    <h6>@Model.Price</h6>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-5">
        <h4>MOVIE FACTS</h4>
        <hr>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
               📅 Release Date  <span class="badge rounded-pill bg-secondary">@Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.ReleaseDate))</span>
            </li>
            <li class="list-group-item">
                ⌛ Run Time <span class="badge rounded-pill bg-secondary">@(Model.RunTime + "m")</span>
            </li>
            <li class="list-group-item">
                💵 Box Office <span class="badge rounded-pill bg-secondary">@String.Format("{0:c}", Model.Revenue)</span>
            </li>
            <li class="list-group-item">
                💲 Budget <span class="badge rounded-pill bg-secondary">@String.Format("{0:c}", Model.Budget)</span>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-secondary btn-sm">☑</button>
                <button type="button" class="btn btn-secondary btn-sm">☑</button>
            </li>
        </ul>
        <br>

        <h4>TRAILERS</h4>
        <hr>
        @foreach (var trailer in Model.Trailers)
        {
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="background-color:whitesmoke">
                    <span> ▶ @trailer.TrailerUrl</span>
                </li>
            </ul>
        }
    </div>

    <div class="col">
        <h4>CAST</h4><hr>

        @foreach (var cast in Model.Casts)
        {
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-2">
                            <div>
                                <a asp-controller="Casts" asp-action="Details" asp-route-id="@cast.Id">
                                    <img src="@cast.ProfilePath" class="img-fluid" alt="@cast.Name" width="50" height="60" style="border-radius:50%; margin-bottom:15px;" />
                                </a>
                            </div>
                        </div>

                        <div class="col-5">
                            @cast.Name
                        </div>

                        <div class="col-5">
                            @cast.Character
                        </div>
                        <br><hr>
                    </div>
                </li>
            </ul>
        }
    </div>
</div>